.post {
  width: 100%;
  height: 100%;
}
.form {
  margin-left: 20px;
}
.forminput {
  margin: 10px 0px;
}
.label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
.input {
  width: 90%;
  border-radius: 5px;
  padding: 0px 4px;
}
