.menu {
  width: 100%;
  background-color: #d8e4ed;
  justify-content: center;
  display: flex;
}
.Boxbtn {
  margin: 10px 0px;
}
.btn {
  margin: 0px 10px;
  margin-bottom: 10px;
}
.boxinput {
  padding: 10px 0px;
}
.inputsearch {
  width: 90%;
  padding: 5px;
  border-radius: 3px;
  margin-left: 20px;
}
.page {
  width: 100%;
  background-color: #d8e4ed;
}
.heading {
  width: 100%;
  color: #ffffff;
  background-color: #3883cc;
  line-height: 22px;
  font-weight: bold;
  font-size: 14px;
}
.headingspan {
  margin-left: 20px;
}
.listaccount {
  font-size: 12px;
}
.account {
  padding: 10px 0px;
  border-bottom: 1px#C1C1C1 solid;
}
.href {
  text-decoration: none;
  color: #ad4105;
  margin-left: 20px;
}
.Add {
  text-align: center;
  font-size: 12px;
  padding: 10px 0px;
  color: #3883cc;
  cursor: pointer;
}
@media only screen and (max-width: 280px) {
  .inputsearch {
      width: 90%;
      padding: 5px;
      border-radius: 3px;
      margin-left: 10px;
  }
}
